@tailwind base;
@tailwind components;
@tailwind utilities;

/* Toetsenbord focus */

*:focus-visible {
    outline: 4px solid #6c4092 !important;
    outline-offset: 3px !important;
    border-radius: 4px !important;
}

nav a:focus-visible,
nav button:focus-visible {
    outline: 4px solid #6c4092 !important;
    outline-offset: 3px !important;
}

.accessibility-button:focus-visible {
    outline: 3px solid #6c4092 !important;
    outline-offset: 2px !important;
}
